#mainNavigation {
    position: relative;
    top: 11px;
    z-index: 50;
}

#mainNavigation ul {
    list-style: none;
    margin-left: -20px;
}

#mainNavigation ul li {
    display: block;
}

#mainNavigation ul li a {
    display: block;
    float: left;
    text-decoration: none;
    border: 1px solid #0080ef;
    padding: 7px;
    margin-right: 8px;
    color: #ffffff;
    background-color: #0090ff;
    height: 21px;
    line-height: 20px;
    cursor: pointer;
}

#mainNavigation ul li a:hover,
#mainNavigation ul li a.active {
    border: 1px solid #3399ff;
    background-color: #33a0ff;
}